[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
python-dotenv = "*"

[dev-packages]
ipykernel = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.8"
